<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="logs\nlog-internal.log" >

  <variable name="LogDir" value="logs"/>
  <variable name="ArcDir" value="logs/archives"/>

  <targets>
    <target
      xsi:type="File"
      name="trace"
      fileName="${LogDir}/Trace.txt"
      layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
      archiveFileName="${ArcDir}/trace_archive.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      concurrentWrites="true"
      keepFileOpen="false"
      maxArchiveFiles="14" />
    <target
      xsi:type="File"
      name="error"
      fileName="${LogDir}/Error.txt"
      layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
      archiveFileName="${ArcDir}/error_archive.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      concurrentWrites="true"
      keepFileOpen="false"
      maxArchiveFiles="14" />
    <target
      xsi:type="File"
      name="info"
      fileName="${LogDir}/Info.txt"
      layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
      archiveFileName="${ArcDir}/info_archive.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      concurrentWrites="true"
      keepFileOpen="false"
      maxArchiveFiles="14" />
    <target
      xsi:type="File"
      name="Warn"
      fileName="${LogDir}/Warn.txt"
      layout="${date:dd\.MM\.yyyy-HH\:mm\:ss} ${message}"
      archiveFileName="${ArcDir}/warn_archive.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyyMMdd"
      concurrentWrites="true"
      keepFileOpen="false"
      maxArchiveFiles="14" />
    <target
      xsi:type="Console"
      name="console"
      layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="trace" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info,console" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="Trace" />
    <logger name="*" minlevel="warn" maxlevel="warn" writeTo="Warn" />
  </rules>
</nlog>